#nav-display-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.nav-link {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  height: 100%;
  position: sticky;
  left: 0;
  padding-top: 1rem;
  top: 0rem;
}

#name {
  font-size: 1.8rem;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  #nav-bar {
    flex-direction: column;
    background-color: var(--nc-bg-1);
  }

  #nav-links {
    padding-top: 1rem;
    display: flex;
    padding-bottom: 1rem;
  }

  .nav-link {
    margin: auto;
  }

  #nav-display-picture {
    margin: auto;
    height: 50px;
    width: 50px;
    margin-left: 1rem;
    position: absolute;
  }
}
