#content {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1rem;
}

.container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
}

/* Skip link for accessibility */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

#content-wrapper {
  flex-direction: row;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  #content {
    padding: 1rem;
    display: block;
  }

  #content-wrapper {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) {
  #content-wrapper {
    width: 95%;
  }
}
