#content {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1rem;
}

.container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
}

#content-wrapper {
  flex-direction: row;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  #content {
    padding: 1rem;
    display: block;
  }

  #content-wrapper {
    width: 90%;
    margin: auto;
  }
}


@media only screen and (max-width: 480px) {
  #content-wrapper {
    width: 95%;
  }
}