@media (prefers-color-scheme: dark) {
  html {
    background: black;
    color: white;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    color: white !important;
    text-shadow: none !important;
  }

  pre {
    background-color: black !important;
  }

  .content-header-menu-link {
    color: var(--main-text-color);
  }
}
